<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>CloudShare Website
  </em></a> is currently under construction.
  <a href="#">Link 1</a> and
  <a href="#">Link 2.</a>
  Test paragraph.
  <a href="#">Cool link</a>.
</p>